// Roboto Font Style
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext")

// CSS3 Helper library
@import 'nib'

// Global CSS rules here

html
  font 62.5% 'Roboto', sans-serif

html, body
  width 100%
  height 100%
  padding 0
  margin 0

body
  font-size 1.6rem
  position relative

div.screen
  absolute top 0 left 0
  right 0
  bottom 0
  overflow hidden
  display none
  background white

  &:last-child
    display block